{% extends 'HelpDeskBundle:Client:main.html.twig' %}

{% block main_content %}
<div class="col-md-5 col-md-offset-1" id="signup_wrapper">
    <header class="form_header">
        <h3>Welcome Back!</h3>
        <p>Login to your account.</p>
    </header>
    <div id="signup_box">
        {% if error %}
            <div class="alert alert-danger alert-dismissable">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <form action="{{path('help_desk_login_check')}}" role="form" method="post" id="wagon_login_form">
            <div class="form-group">
                <label for="email">Email *</label>
                <input type="text" placeholder="email" class="form-control" id="username" name="_username" value="{{ last_username }}">
            </div>
            <div class="form-group">
                <label for="first_name">Password *</label>
                <input class="form-control" type="password" placeholder="password" id="password" name="_password">
            </div>
            <div class="form-group text-center">
                <input type="submit" class="btn btn-success btn-lg" value="Login" id="login_submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}